<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    
    <link rel="stylesheet" type="text/css" href="/css/main.css">
  
  </head>


  <body>
    <nav>
<ul>
<li><a href="/">Home</a></li>
<li><a href="/about">About Me</a></li>
<li><a href="/cv">CV</a></li>
</ul>
    </nav>
<div class="container">

  {{ content }}

</div>
  
  <footer>
   <ul>
   <img src="/picture/email.jpg" height="25">
   <li><a href="mailto:lu000024@umn.edu">Email</a></li>
   <img src="/picture/GitHub.jpg" height="25">
   <li><a href="https://github.com/elodielu">github.com/elodielu</a></li>
   <img src="/picture/linkedin.png" height="25">
   <li><a href="https://www.linkedin.com/in/bingjie-lu/">LinkedIn</a></li>
   </ul>
  </footer>
  </body>

</html>
